$bg_color_header: #3b434c;
$base_color: #f7600e;

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800");

html, body, .wrapper {
	height: 100%;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}
* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
}

.container:before, .container:after, .clear:before, .clear:after {
	display: table;
	content: " ";
}

.container:after, .clear:after {
	clear: both;
}

.header {
	position: relative;
	background: #0f0;
	height: 100%;
	background: url(../img/headBg.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	overflow: hidden;
	&__img-overlay {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba($bg_color_header, 0.9);
		padding-bottom: 65px;
	}
}

.top-panel{
	&__body{
		padding-top: 50px;
		// display: flex;
		// align-items: center;
		// justify-content: space-between;
	}
}

.logo {
	float: left;
	display: block;
}

.top-menu {
	float: right;
	&__block{
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;
		background:rgba(#3b434c, 0.95);
		display: none;
	}
	&__wrap{
		margin: 0 auto;
		padding-top: 130px;
		overflow: scroll;
		max-height: 100%;
		position: relative;
	}
	&__close{
		position: absolute;
		top: 30px;
		right: 15px;
		display: block;
		border: 0;
		padding: 0;
		height: 30px;
		width: 30px;
		background: inherit;
		cursor: pointer;
	}
	&__elem{
		position: relative;
		&:first-child{
			width: 100%;
			height: 2px;
			background: #fff;
			transform: rotateZ(45deg) scale(1.2);
			position: absolute;
			top: calc(50%);
		}
		&:last-child{
			width: 100%;
			height: 2px;
			background: #fff;
			transform: rotateZ(-45deg) scale(1.2);
			position: absolute;
			top: calc(50%);
		}
	}
	&__item{
		text-align: center;
	}
	&__href{
		font-size: 2.188em;
		line-height: 2;
		color: #fff;
		display: inline-block;
		text-transform: uppercase;
		text-decoration: none;
		&:hover{
			color: $base_color;
			text-decoration: none;
		}
		&:focus{
			text-decoration: none;
			color: #fff;
			&:hover{
				color: $base_color;
				text-decoration: none;
			}
		}
	}
	&__hr{
		background:$base_color;
		height: 2px;
		width: 150px;
		margin: 0 auto;
		margin-top: 35px;
	}
	&__social {
		text-align: center;
		margin-top: 55px;
	}
}
.btn-open-menu{
	display: flex;
	align-items: center;
	padding: 0;
	background: inherit;
	border: 0;
	color: #fff;
	font-size: 	1em;
	cursor: pointer;
	&__block{
		height: 20px;
		width: 26px;
		position: relative;
		margin-left: 18px;
	}
	&__elem{
		height: 2px;
		width: 100%;
		background: #fff;
		position: absolute;
		&:nth-child(2){
			top: calc(50% - 1px);
		}
		&:nth-child(3){
			bottom: 0;
		}
	}
}
.header-body{
	&__text {
		color: #fff;
		text-align: center;
		margin: 0 auto;
		//width: 690px;
	}
	&__title {
		margin-top: 180px;
		margin-bottom: 30px;
		font-size: 4.375em;//
		font-weight: 800;
		&_other-color {
			color: $base_color;
		}
	}
	&__description {
		display: block;
		max-width: 770px;
		margin: 0 auto;
		font-size: 1.5625em;
		line-height: 1.6em;
	}
	&__buttons {
		margin-top: 50px;
		text-align: center;
		font-size: 1em;
	}
	&__button {
		display: inline-block;
		width: 210px;
		height: 50px;
		line-height: 50px;
		border: 1px solid #65696e;
		border-radius: 8px;
		text-decoration: none;
		color: #fff;
		margin: 0 15px;
		background: inherit;
		&:hover {
			text-decoration: none;
			color: #fff;
			background: $base_color;
			border: 0;
			cursor: pointer;
		}
		&:focus{
			outline: none;
		}
	}
}
.hire-us{
	background: rgba(#3b434c, 0.80);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	&__block{
		background: #fff;
		width: 765px;
		position: relative;
		padding: 0 100px;
		font-size: normal;
	}
	&__wrap{
		box-sizing: border-box;
	}
	&__btn-close{
		height: 40px;
		width: 40px;
		top: -20px;
		right: -20px;
		background: #3b434c;
		position: absolute;
		border-radius: 100%;
		padding: 0;
		border: 0;
		display: block;
		cursor: pointer;
	}
	&__btn-close-elem{
		width: 14px;
		height: 2px;
		background: #fff;
		position: absolute;
		top: calc(50%);
		left: calc(50% - 7px);
		&:first-child{
			transform: rotateZ(60deg);
		}
		&:last-child{
			transform: rotateZ(-60deg);
		}
	}
	&__title {
		text-align: center;
		font-size: 2.1875em;
		line-height: 1.14em;
		font-weight: 600;
		color: #f7600e;
		text-transform: uppercase;
		margin-top: 50px;
		&_other-color {
			color: #3b434c;
		}
	}

	&__description {
		margin: 0 auto;
		text-align: center;
		line-height: 1.875em;
		margin-top: 25px;
		margin-bottom: 45px;
		max-height: 55px;
		overflow: hidden;
		font-size: 1em;
		padding: 0 45px;
	}
	&__email{
		display: block;
		width: 100%;
		height: 50px;
		border-radius: 10px;
		border: 1px solid #c4c6c9;
		padding: 20px;
	}
	&__subject{
		display: block;
		width: 100%;
		height: 50px;
		border-radius: 10px;
		border: 1px solid #c4c6c9;
		padding: 20px;
		margin-top: 29px;
	}
	&__message{
		display: block;
		width: 100%;
		border-radius: 10px;
		border: 1px solid #c4c6c9;
		padding: 20px;
		margin-top: 29px;
	}
	&__send{
		display: block;
		width: 100%;
		margin-top: 30px;
		margin-bottom: 60px;
		text-transform: uppercase;
		background: #f7600e;
		border-radius: 10px;
		border: 0;
		height: 50px;
		font-weight: 600;
		color: #fff;
		font-size: 1em;
		
	}
}
.slider-button {
	width: 34px;
	height: 34px;
	background: url(../img/slider.png);
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -17px;
}

// @media (min-width: 768px)
//   .container

@media (max-width: 992px) {
	.header-body__text {
		width: 100%;
	}

	.header-title {
		font-size: 4.5em;
	}

	.header-description {
		font-size: 1.25em;
	}
}

@media (max-width: 768px) {
	.header-title {
		font-size: 3.4em;
	}
}

@media (max-width: 480px) {
	.header-title {
		font-size: 2.5em;
	}
}

@each $media in "(min-width: 992px) and (max-height: 600px)", "(max-width: 993px) and (max-height: 480px)", "(max-width: 992px) and (max-height: 550px)", "(max-width: 992px) and (min-height: 600px)" {
	@media #{$media} {
		html, body, .wrapper {
			height: auto;
		}

		.header {
			height: auto;
		}

		.header__img-overlay {
			position: relative;
			height: auto;
		}
	}
}

.our-servises {
	padding-top: 100px;
	padding-bottom: 100px;
	opacity: 0;

	&__item-servis {
		float: left;
		width: 260px / 1170px * 100%;
		margin-left: 15px / 1170px * 100%;
		margin-right: 15px / 1170px * 100%;
	}
}

.item-servis{
	&__img {
		height: 150px;
		width: 150px;
		border-radius: 100%;
		border: 1px solid #c7c9cc;
		margin: 0 auto;
		&_print {
			background: url(../img/print-d.png) center no-repeat;
		}
		&_web {
			background: url(../img/web-d.png) center no-repeat;
		}
		&_app {
			background: url(../img/app-d.png) center no-repeat;
		}
		&_logo {
			background: url(../img/logo-d.png) center no-repeat;
		}
	}
	&__title {
		text-align: center;
		text-transform: uppercase;
		font-weight: 600;
		padding-top: 30px;
		padding-bottom: 20px;
	}
	&__description {
		font-size: 0.875em;
		line-height: 1.857em;
		text-align: center;
		height: 80px;
		overflow: hidden;
	}
}
.news-letter {
	position: relative;
	background: url(../img/newsletter.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
	text-align: center;
}

.news-letter{
	&__img-overlay {
		background-color: rgba($bg_color_header, 0.9);
		padding: 100px 0;
	}
	&__text {
		width: 560px / 1170px * 100%;
		padding-left: 24px / 1170px * 100%;
		height: 50px;
		border: none;
		border-radius: 8px;
		text-decoration: none;
		font-weight: 300;
	}
	&__submit {
		text-transform: uppercase;
		width: 270px / 1170px * 100%;
		height: 50px;
		border: none;
		border-radius: 8px;
		text-decoration: none;
		color: #fff;
		margin-left: 25px / 1170px * 100%;
		background: $base_color;
		font-weight: 600;
	}
}

.br {
	display: none;
}

@media (max-width: 768px) {
	.br {
		display: block;
	}

	.news-letter__submit {
		margin-left: 0;
		margin-top: 10px;
	}
}

.block-name {
	//padding-bottom: 85px;
	// width: 1170px;
	margin: 0 auto;

	&__title {
		text-align: center;
		font-size: 2.1875em;
		line-height: 1.14em;
		font-weight: 600;
		color: #f7600e;
		text-transform: uppercase;

		&_other-color {
			color: #3b434c;
		}
	}

	&__description {
		width: 480px;// / 1170px * 100%;
		margin: 0 auto;
		text-align: center;
		line-height: 1.875em;
		margin-top: 30px;
		//margin-bottom: 100px;
		max-height: 55px;
		overflow: hidden;
		font-size: 1em;
	}
	&_text-white{
		color: #fff;
	}
}
.our-works {
	padding-top: 100px;
	padding-bottom: 85px;
	&__body {
		padding-top: 70px;
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 0;
		padding-right: 0;
	}
	&__button {
		display: block;
		text-transform: uppercase;
		background: none;
		border: 1px solid #d8d9db;
		height: 50px;
		width: 210px;
		border-radius: 10px;
		margin: 0 auto;
		margin-top: 85px;
	}
}

.ow-body{
	&__item {
		float: left;
		width: 360px;
		height: 360px;
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 30px;
		position: relative;
		border-radius: 9px;
		overflow: hidden;
	}
	&__item-on {
		display: none;
		height: 100%;
		width: 100%;
		background: rgba(247, 96, 14, 0.9);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 9px;
		position: absolute;
	}
	&__item:hover &__item-on {
		display: block;
	}
}

.item-on{
	&__title {
		text-align: center;
		color: #fff;
		font-size: 1.5625em;
	}
	&__description {
		padding-left: 50px;
		padding-right: 50px;
		text-align: center;
		color: #fff;
		font-size: 0.875em;
		margin-top: 20px;
	}
	&__button {
		display: block;
		height: 50px;
		width: 210px;
		background: #fff;
		border-radius: 10px;
		margin: 0 auto;
		margin-top: 45px;
		text-decoration: none;
		color: #f7600e;
		line-height: 50px;
		text-align: center;
		font-weight: 600;
	}
	&__button:hover {
		text-decoration: none;
		color: #f7600e;
	}
	&__wrap {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}

.reviews {
	background: url(../img/reviews-bg.jpg) no-repeat center 100%;
	background-size: cover;
	background-attachment: fixed;
	&_img-overlay {
		background-color: rgba($bg_color_header, 0.9);
	}
}
.slider{
	position: relative;
	&.owl-carousel .owl-nav button.owl-prev{
		content: "";
		position: absolute;
		top: calc(50% - 20px);
		left: 0;
		background: url(../img/slider-prev.png);
		width: 21px;
		height: 40px;
		& span{
			display: none;
		}
	}
	&.owl-carousel .owl-nav button.owl-next{
		position: absolute;
		top: calc(50% - 20px);
		right: 0;
		background: url(../img/slider-next.png);
		width: 21px;
		height: 40px;
		& span{
			display: none;
		}
	}
}
.slider-item {
	text-align: center;
	color: #fff;
	padding-top: 100px;
	padding-bottom: 100px;

	&__img {
		margin: 0 auto;
		height: 120px;
		max-height: 120px;
		width: 120px;
		max-width: 120px;
		border-radius: 100%;
	}

	&__author-text {
		margin: 0 auto;
		width: 800px / 1170px * 100%;
		font-weight: 400;
		font-style: italic;
		font-size: 1.5625em;
		line-height: 1.6em;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	&__author-name {
		font-size: 1.125em;
		font-weight: 600;
	}
}

.our-team {
	padding-top: 100px;
	padding-bottom: 85px;

	&__title {
		text-align: center;
		font-size: 2.1875em;
		font-weight: 600;
		color: #f7600e;
		text-transform: uppercase;

		&_other-color {
			color: #3b434c;
		}
	}

	&__description {
		width: 480px / 1170px * 100%;
		margin: 0 auto;
		text-align: center;
		line-height: 1.875em;
		margin-top: 20px;
		margin-bottom: 100px;
		max-height: 50px;
		overflow: hidden;
	}
	&__carousel {
		padding-top: 135px;
		&.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
			background: #f7600e;
		}
		&.owl-theme .owl-dots .owl-dot span{
			background: #c4c6c9; 
		}
	}
}

.carousel {
	//background: #00f;
	&__img {
		filter: grayscale(100%);
		width: 100%;
		max-width: 100%;
		border-radius: 10px;
	}
	&__title {
		display: block;
		color: #9da1a5;
		text-align: center;
		font-size: 1.5625em;
		text-transform: uppercase;
		font-weight: 600;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	&__description {
		color: #9da1a5;
		font-weight: 400;
		font-size: 0.875em;
		text-align: center;
		margin-top: 20px;
	}
	&__img-wrap {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 30px;
	}
	&__item:hover {
	
		.carousel__img{
			filter: none;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom: 3px solid #f7600e;
			cursor: pointer;
			position: relative;
		}
		.carousel__img-wrap{
			padding-left: 0;
			padding-right: 0;
			padding-top: 0;
			position: relative;
		}
		.social-panel {
			filter: none;
		}
		.carousel__title {
			color: #3b434c;
		}
		.carousel__description {
			color: #3b434c;
		}
	}
}

.social-panel {
	text-align: center;
	filter: grayscale(100%);
	&__item {
		width: 24px;
		height: 24px;
		background: #000;
		display: inline-block;
		margin: auto 5px;
		&_fb {
			background: url('../img/fb1.png') center  no-repeat;
		}
		&_tw {
			background: url('../img/tw1.png') center  no-repeat;
		}
		&_gp {
			background: url('../img/gp1.png') center  no-repeat;
		}
	}
}

/* .carousel h3 {
	display: block;
	height: 50px;
	margin-left: 15px;
	margin-right: 15px;
	background: #0ff;
} */

.contact {
	background: url(../img/contact.jpg) no-repeat center 100%;
	background-size: cover;
	background-attachment: fixed;

	&_img-overlay {
		background-color: rgba($bg_color_header, 0.9);
		padding-top: 80px;
		padding-bottom: 125px;
	}
	&__form-wrap {
		width: 830px;
		margin: 0px auto;
		margin-top: 100px;
		font-weight: 400;
		color: #3b434c;
	}
	&__email {
		display: block;
		float: left;
		width: 400px;
		height: 50px;
		margin-right: 10px;
		border-radius: 10px;
		border: 0;
		padding: 15px;
	}
	&__name {
		display: block;
		float: right;
		width: 400px;
		height: 50px;
		margin-left: 10px;
		border-radius: 10px;
		border: 0;
		padding: 15px;
	}
	&__message {
		width: 100%;
		margin-top: 30px;
		margin-bottom: 30px;
		border-radius: 10px;
		border: 0;
		padding: 15px;
	}
	&__send {
		float: left;
		width: 210px;
		text-transform: uppercase;
		background: #f7600e;
		border-radius: 10px;
		border: 0;
		height: 50px;
		font-weight: 600;
		color: #fff;
	}
	&__social {
		float: right;
	}
}
.social{
	&__item {
		display: inline-block;
		width: 43px;
		height: 43px;
		margin-left: 18px;
		&:first-child{
			margin-left: 0;
		}
		&_fb {
			background: url('../img/sh-fb.png') center  no-repeat;
		}
		&_tw {
			background: url('../img/sh-tw.png') center  no-repeat;
		}
		&_gp {
			background: url('../img/sh-gp.png') center  no-repeat;
		}
		&_bl {
			background: url('../img/sh-bl.png') center  no-repeat;
		}
		&_be {
			background: url('../img/sh-be.png') center  no-repeat;
		}
	}
}
input::placeholder, textarea::placeholder {
	color: #3b434c;
	font-weight: 300;
}
.animate-active {
	opacity: 1;
	transition: opacity 2s;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
@media (max-width: 1200px) {
	.ow-body{
		&__item {
			float: left;
			width: 293px;
			height: 293px;
			margin-left: 15px;
			margin-right: 15px;
			margin-top: 30px;
		}
	}
}
@media (max-width: 992px) {
	.contact {
		&__form-wrap {
			width: 720px;
		}
		&__email {
			width: 345px;
		}
		&__name {
			width: 345px;
		}
	}
	.hire-us{
		&__block{
			padding: 0 15px;
			width: 725px;
			max-height: 100%;
			overflow: scroll;
		}
		&__btn-close{
			top: 5px;
			right: 5px;
		}
	}
	.ow-body{
		&__item {
			float: left;
			width: 345px;
			height: 345px;
			margin-left: 15px;
			margin-right: 15px;
			margin-top: 30px;
		}
	}
	.our-team {
		padding-top: 50px;
		padding-bottom: 50px;
		&__carousel {
			padding-top: 65px;
		}
	}
}
@media (max-width: 768px) {
	.hire-us{
		&__block{
			padding: 0 15px;
			width: 100%;
		}
		&__btn-close{
			top: 5px;
			right: 5px;
		}
	}
	.our-servises {
		padding-top: 100px;
		padding-bottom: 100px;
		// opacity: 0;
	
		&__item-servis {
			float: left;
			width: 50%;
			// margin-left: 15px / 1170px * 100%;
			// margin-right: 15px / 1170px * 100%;
			margin-left: 0;
			margin-right: 0;
		}
	}
	.item-servis{
		&__img {
			height: 130px;
			width: 130px;
		}
		&__description{
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.ow-body{
		&__item {
			float: none;
			width: 345px;
			height: 345px;
			margin: 0 auto;
			margin-top: 30px;
		}
	}
	.block-name {
		&__description {
			width: 380px;// / 1170px * 100%;
		}
	}
	.contact {
		&__form-wrap {
			width: 100%;
			padding-left: 15px;
			padding-right: 15px;
		}
		&__email {
			display: block;
			float: none;
			width: 100%;
		}
		&__name {
			display: block;
			float: none;
			width: 100%;
			margin-left: 0px;
			margin-top: 30px;
		}
		&__message {
			width: 100%;
			margin-top: 30px;
		}
		&__send {
			float: none;
			width: 100%;
		}
		&__social {
			float: none;
			text-align: center;
			margin-top: 30px;
		}
	}
	.news-letter{
		&__img-overlay {
			padding: 50px 0;
		}
		&__text {
			width: 100%;
			padding-left: 15px;
			padding-right: 15px;
		}
		&__submit {
			width: auto;
			margin-left: 0;
		}
	}

	.header-body{
		&__text {
			color: #fff;
			text-align: center;
			margin: 0 auto;
			//width: 690px;
		}
		&__title {
			margin-top: 30px;
			margin-bottom: 30px;
			font-size: 3em;//
			font-weight: 800;
			&_other-color {
				color: $base_color;
			}
		}
		&__description {
			display: block;
			max-width: 770px;
			margin: 0 auto;
			font-size: 1em;
			line-height: 1.6em;
		}
		&__buttons {
			margin-top: 50px;
			text-align: center;
			font-size: 1em;
		}
		&__button {
			display: inline-block;
			width: 210px;
			height: 50px;
			line-height: 50px;
			border: 1px solid #65696e;
			border-radius: 8px;
			text-decoration: none;
			color: #fff;
			margin: 0 15px;
			background: inherit;
			&:hover {
				text-decoration: none;
				color: #fff;
				background: $base_color;
				border: 0;
				cursor: pointer;
			}
			&:focus{
				outline: none;
			}
		}
	}
}
@media (max-width: 514px) {
	.header-body{
		&__button{
			&:first-child{
				margin-bottom: 15px;
			}
		}
	}
}
@media (max-width: 400px) {
	.ow-body{
		&__item {
			float: none;
			width: 300px;
			height: 300px;
			margin: 0 auto;
			margin-top: 30px;
		}
	}
	.block-name {
		&__description {
			width: 300px;// / 1170px * 100%;
		}
	}
}

// @media (min-width: 992px) and (max-height: 550px)
// 	html, body, .wrapper
// 		height: auto
// 	.header
// 		height: auto

// 	.header-img-overlay
// 		position: relative
// 		height: auto
// @media (max-width: 992px) and (max-height: 480px)
// 	html, body, .wrapper
// 		height: auto
// 	.header
// 		height: auto

// 	.header-img-overlay
// 		position: relative
// 		height: auto
// @media (max-width: 768px) and (max-height: 600px)
// 	html, body, .wrapper
// 		height: auto
// 	.header
// 		height: auto

// 	.header-img-overlay
// 		position: relative
// 		height: auto
// @media (min-width: 1200px)
//   .container